<!doctype html>
<html class="no-js" lang="{{ i18n.language }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block "title" %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" content="{# csrfToken #}">

    {% if process.env.APP_ENV == "development" %}
    <link rel="stylesheet" href="{{ assetPath('lib.css') }}">
    <link rel="stylesheet" href="{{ assetPath('app.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ assetPath('lib.min.css') }}">
    <link rel="stylesheet" href="{{ assetPath('app.min.css') }}">
    {% endif %}
    {% block "style" %}{% endblock %}

</head>
<body>
<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% block "body" %}{% endblock %}

{% if process.env.APP_ENV == "development" %}
<script src="{{ assetPath('lib.js') }}"></script>
<script src="{{ assetPath('app.js') }}"></script>
{% else %}
<script src="{{ assetPath('lib.min.js') }}"></script>
<script src="{{ assetPath('app.min.js') }}"></script>
{% endif %}
{% block "script" %}{% endblock %}

</body>
</html>